/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --text-color: gray;
  --title-color: black;
  --link-color: white;
  --incorrect-color: red;

  --small-text-size: 1rem;
  --normal-text-size: 1.75rem;
  --big-text-size: 2.75rem;

  --font-main: "Poppins" sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-main);
}

body {
  background: hsl(243, 29%, 20%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 850px;
  background: #fff;
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 60px 40px;
  border-radius: 10px;
}

.hangman-box img {
  max-width: 270px;
}

.hangman-box h1 {
  font-size: var(--normal-text-size);
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
}

.word-display {
  display: flex;
  gap: 10px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.word-display .letter {
  width: 28px;
  font-size: var(--big-text-size);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  border-bottom: 3px solid #000;
}

.word-display .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.game-box h4 {
  text-align: center;
  font-size: var(--normal-text-size);
  font-weight: 500;
  margin-bottom: 15px;
}

.game-box h4 b {
  font-weight: 600;
}

.game-box .guesses-text b {
  color: var(--incorrect-color);
}

.game-box .keyboard {
  display: flex;
  gap: 5px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.keyboard button {
  color: var(--link-color);
  font-size: var(--small-text-size);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  padding: 7px;
  border: none;
  background: hsl(243, 29%, 20%);
  border-radius: 4px;
  text-transform: uppercase;
  width: calc(100% / 9 - 5px);
}

.keyboard button:hover {
  background: #8286c9;
}
